.task-controls {
    position: absolute;
    bottom: 16px;
    padding: 0 32px;
    left: 16%;
    width: 64%;
    max-height: 200px;
    background-color: #1e1e1e;
    color: #7cc4f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 25px;
}

.task-controls-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-controls-row:nth-child(1),
.task-controls-row:nth-child(2) {
    margin-right: 32px;
}

.task-controls-row-control {
    padding: 8px;
    min-width: 40px;
    text-align: center;
    border-radius: 4px;
    background-color: #7cc4f8;
    color: #1e1e1e;
    margin: 16px 0;
}
